<% include partials/header %>

  <h1>Welcome to the library!</h1>

  <p>
    See our <a href="/books">books</a>
  </p>

  <p>
    See our <a href="/authors">authors</a>
  </p>

<% include partials/footer %>