<% include ../partials/header %>

  <p> A little info about our book!
    <br>
    Title: <%= book.title%>
    <br>
    Genre: <%= book.genre%>
  </p>

<a href="/books">Go home</a>

<% include ../partials/footer %>