<% include partials/header %>

<h1>Login</h1>
  <p style ="color:red;">
    <% if(message){ %>
    <%= message%>
    <% } %>
  </p>
  <form action="/login" method ="POST">
    <p>
      <label for="user">Username:</label>
      <input type="text" name="username" id="user" autofocus>
    </p>
    <p>
      <label for="pass">Password:</label>
      <input type="password" name="password" id="pass">
    </p>
    <p>
      <input type="submit" value="Log In" class = "btn btn-primary">
    </p>
  </form>
  <a href="/signup">Don't have an account? Create one here</a>

<% include partials/footer %>