<% include partials/header.ejs %>

	<h1> Welcome to our awesome website</h1>

	<% if (typeof message !== 'undefined') { %>
		<div class = "alert alert-success">
      <%= message %>
    </div>
	<% } %>

	<a href="/signup" class = "btn btn-primary btn-lg">Sign up</a>
	&nbsp

	<a href="/login" class = "btn btn-primary btn-lg">Log in</a>

<% include partials/footer.ejs %>