<% include partials/header.ejs %>
<h1> Sign Up Form</h1>

		<% if(typeof message !== 'undefined') {%>
		<div class="alert alert-danger">
		<%= message %>
		</div>
		<% }%>

<br>
<form action="/submit" method = "post">
	<p>
		<label for="username">Username: </label> <input type="text" name="username" id="username" autofocus value = <%=username %>>
	</p>
	<p>
	<label for="password">Password: </label> <input type="password" name="password" id="password">
	</p>
	<p>
	<input type="submit" value="Sign up!" class = "btn btn-primary">
	</p>
	<a href="/login">Already have an account? Log in here</a>
</form>
<% include partials/footer.ejs %>