<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/signup" method="POST">
  <p>
    <label for="username">Username: </label>
    <input type="text" name="user[username]" id="username">
  </p>
  <p>
    <label for="password">Password: </label>
    <input type="password" name="user[password]" id="password">
  </p>
  <input type="submit" value="Sign up">
  </form>
</body>
</html>