<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <% if(typeof user === 'undefined'){%>
  <h4>No user by this name....go <a href="/">home</a></h4>
  <% } else {%>
  <p>
    Id: <%= user.id%>
    <br>
    Username: <%= user.username%>
    <br>
    Password: <%= user.password%>
  </p>
  <% }%>
</body>
</html>