<% include ../partials/header %>

  <form action="/books" method="post">
    <input name="book[title]" placeholder="title">
    <input name="book[author]" placeholder="author">
    <input type="submit" value="Save">
  </form>
<% include ../partials/footer %>